* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(
    90deg,
    #85f6b8 0%,
    rgba(142, 217, 235, 0.85) 99.84%
  );
  background-blend-mode: darken;
}
/* style de la première page */
.global {
  /* height: 500px; */
  width: 35%;
  height: 550px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #fff;
}
.title {
  text-align: center;
  margin: 10px 0 0 0;
  padding: 20px;
}
h1 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: #555;
  margin: 20px 0 10px 0;
}
.paragraphe {
  text-align: center;
  padding: 0 30px;
}
p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 32px;
  text-align: center;
  color: #555555;
}

.form {
  margin: 0 30px;
}
/* formulaire */
label {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #555555;
  margin-bottom: 15px;
}
.name-class,
.email-class {
  outline: none;
  width: 100%;
  padding: 10px 0 10px 10px;
  border: 1px solid #dddddd;
  margin-bottom: 0px;
}

.erreur {
  margin-bottom: 20px;
}
.text-erreur {
  display: block;
  font-size: 0.8rem;
  color: red;
  display: none;
}
input:hover {
  outline: none;
  border: 1px solid red;
}
.button {
  text-align: center;
}
.button button {
  background: #028a3d;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  height: 50px;
  width: 220px;
  border: none;
  margin-bottom: 30px;
  box-shadow: 0 5px 3px #dddddd;
}

/* style de la deuxième page */
.global-questions,
.resultat {
  width: 35%;
  height: 550px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #fff;
  display: none;
}
.options {
  margin: 0 30px;
  margin-bottom: 30px;
}

.options .div-opt {
  width: 100%;
  height: 50px;
  outline: none;
  padding: 10px 0 10px 10px;
  border: 1px solid #dddddd;
  margin-bottom: 20px;
}

.options input[type="radio"] {
  width: 20px;
  height: 20px;
  outline: none;
}

.label-option {
  margin-left: 15px;
  font-size: 18px;
  vertical-align: top;
}
.question {
  margin: 0 30px;
  margin-bottom: 15px;
}
.timer {
  margin-bottom: 20px;
}
.question p {
  padding-top: 30px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #555555;
  line-height: 20px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}
.navigation button {
  background: #028a3d;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  height: 50px;
  width: 190px;
  border: none;
  margin-bottom: 30px;
  box-shadow: 0 5px 3px #dddddd;
}
.navigation .quitter {
  background: #ec880c;
}

.timer {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  margin-bottom: 0;
}

/* page résultat */
.result-name {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 10px;
}

.result-email {
  padding-bottom: 20px;
}

#btacceuil {
  background: #0880d6;
  color: white;
  height: 50px;
  width: 190px;
  border: none;
}

.progresscontainer {
  margin: 0 30px;
  margin-bottom: 20px;
  background: #dddddd;
  border-radius: 10px;
}
.progress {
  width: 100%;
  height: 10px;
  background: #028a3d;
}
/* icone */
.result-logo,
.result-text {
  text-align: center;
  margin-bottom: 30px;
}
.icone {
  font-size: 150px;
  color: #ff3838;
}
.icone-reussite {
  font-size: 150px;
  color: #028a3d;
}
.suivant {
  opacity: 0.46;
}
.opacite {
  opacity: 1;
}
.inputborder {
  outline: none;
  border: 1px solid red;
}
.name-resultat,
.mail-resultat {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #555555;
  font-size: 20px;
}
.text-result {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  color: #555555;
}
.name-resultat {
  font-size: 40px;
}
